@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
.header {
  padding: 50px 0;
		&__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}
.menu {
		&__list {
      display: flex;
    }
		&__list-item + .menu__list-item {
      padding-left: 30px;
    }
		&__item-link {
      color: $menu;
      font-family: Roboto;
      font-size: 15px;
      line-height: 12px;
    }
}
.user {
  &__nav {
    align-items: center;
    display: flex;
  }
  &__nav-link--one {
    margin-right: 28px;
    position: relative;
  }
  &__nav-link--toe {
    padding-left: 28px;
    border-left: 1px solid #fff;
    position: relative;
  }
  &__nav-accent {
    display: flex;
    background-color: #fcd7b6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 12px;
    margin-left: 37px;
    margin-right: 18px;
    border-radius: 30px;
  }
  &__nav-num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    color: $content;
    text-align: center;
    line-height: 15px;
  }
}

.footer {
		&__top {
      padding: 100px 0 100px;
      border-bottom: 1px solid #dae4e9;
      display: flex;
      font-size: 14px;
      line-height: 24px;
    }
    &__logo {
      display: block;
    }
    &__top-item--contact {
      width: 200px;
      margin-right: 100px;
    }
    &__top-item--services {
      width: 200px;
      margin-right: 130px;
    }
    &__top-item--form {
      max-width: 270px;
      margin-left: 185px;
    }
		&__top-adress,
    &__top-phone,
    &__top-email {
      display: block;
      margin-bottom: 10px;
    }
		&__top-title {
      margin-bottom: 17px;
      color: #1f2044;
      font-family: Roboto;
      font-size: 16px;
      line-height: 3;
    }
		&__top-link {
      display: block;
      margin-bottom: 10px;
    }
		&__top-text {
      margin-bottom: 33px;
    }
		&__top-form--input {
      max-width: 170px;
      background-color: #fef7f0;
      border: none;
      padding: 15px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 12px;
      &::placeholder {
        color: $content;
      }
    }
		&__top-form--btn {
      border: none;
      background-color: $btn;
      color: #fff;
      font-family: Roboto;
      font-size: 14px;
      line-height: 21px;
      padding: 10px;
      width: 97px;
      cursor: pointer;
    }
		&__bottom {
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
		&__bottom-copy {
      font-family: Roboto;
      font-size: 14px;
      line-height: 32px;
    }
		&__menu {}
		&__menu-list {
      display: flex;
    }
		&__menu-item {
      & + .footer__menu-item {
        margin-left: 30px;
      }
      span {
        margin-left: 15px;
      }
    }
		&__menu-link {}
}
@import 'media';