@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
.header {
  padding: 50px 0;
		&__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}
.menu {
		&__list {
      display: flex;
    }
		&__list-item + .menu__list-item {
      padding-left: 30px;
    }
		&__item-link {
      color: $menu;
      font-size: 15px;
      line-height: 12px;
    }
}
.user {
  &__nav {
    align-items: center;
    display: flex;
  }
  &__nav-link--one {
    margin-right: 28px;
    position: relative;
  }
  &__nav-link--toe {
    padding-left: 28px;
    border-left: 1px solid #fff;
    position: relative;
  }
  &__nav-accent {
    display: flex;
    background-color: #fcd7b6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 12px;
    margin-left: 37px;
    margin-right: 18px;
    border-radius: 30px;
  }
  &__nav-num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    color: $content;
    text-align: center;
    line-height: 15px;
  }
}

.footer {
		&__top {
      padding: 100px 0 100px;
      border-bottom: 1px solid #dae4e9;
    }
		&__top-item {}
		&__top-adress {}
		&__top-title {}
		&__top-list {}
		&__top-link {}
		&__top-text {}
		&__top-form {}
		&__top-form-input {}
		&__top-form-btn {}
		&__bottom {}
		&__bottom-copy {}
		&__menu {}
		&__menu-list {}
		&__menu-item {}
		&__menu-link {}
}
@import 'media';